In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [78]:
model=load_model('model.keras')

with open('label_encoder.pkl','rb') as file:
    label_encoder=pickle.load(file)

with open('ohe.pkl','rb') as file:
    ohe=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

c:\anaconda3\envs\myenv\lib\site-packages\keras\src\saving\saving_lib.py:802: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 8 variables whereas the saved optimizer has 14 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [67]:
input_data ={
    'CreditScore':619,
    'Gender':'Female', 
    'Age':42, 
    'Tenure':2,
    'Balance':0,
    'NumOfProducts':1,
    'HasCrCard':1, 
    'IsActiveMember':1, 
    'EstimatedSalary':101348.88,
    'Geography':'France'
}

In [79]:
print(ohe.get_feature_names_out(['Geography']))

['Geography_France' 'Geography_Germany' 'Geography_Spain']

In [68]:
input_df=pd.DataFrame([input_data]
                      )

In [69]:
input_df

   CreditScore  Gender  Age  ...  IsActiveMember  EstimatedSalary  Geography
0          619  Female   42  ...               1        101348.88     France

[1 rows x 10 columns]

In [70]:
geo_encoder=ohe.transform([input_df['Geography']])
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=ohe.get_feature_names_out(['Geography']))
geo_encoder_df

c:\anaconda3\envs\myenv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [71]:
input_df['Gender']=label_encoder.transform(input_df['Gender'])

In [72]:
input_data=pd.concat([input_df.drop(['Geography'],axis=1),geo_encoder_df],axis=1)

In [73]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0

[1 rows x 12 columns]

In [74]:
input_scaled=scaler.transform(input_data)
input_scaled

array([[-0.33880827, -1.09499335,  0.29493847, -1.04241787, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [75]:
prediction=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step

In [76]:
prediction_proba = prediction[0][0]

In [77]:
prediction_proba

0.5307786